@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comforter&family=Josefin+Sans:wght@400;500&family=Orelega+One&family=Pacifico&family=Padauk&family=Permanent+Marker&family=Poppins&family=Redressed&family=Roboto+Mono:wght@200&family=Spline+Sans+Mono&family=Supermercado+One&family=Varela+Round&family=Work+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.main{
    height: 800px;
}

.show{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    height: 45px;
    margin-left: 50px;
    margin-top: 4px;
}
.li{
    margin-right: 50px;
}
.li li{
    display: flex;
    list-style: none;
    display: inline-block;
   

}
.col1{
    background:linear-gradient(170deg, #e25e2f,#cc445e);
}
.li li a{
    padding: 4px 12px;
    margin: 2px 4px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}
 .li li a::before{
    position: absolute;
    content: '';
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    left:50%;
    border: 1px solid transparent;
    transition:0.3s all ease-in-out;

}
.li li a::after{
    position: absolute;
    content: '';
    z-index: -1;
    width:100%;
    height: ;
    top: 50%;
    left: 0;
    border: 1px solid transparent;
    transition:0.3s all ease-in-out;

}
 .li li a:hover::before,
 .li li a:hover::after{
    left:0;
    top:0;
    width:100%;
    height: 100%;

}
 .li li a::before{
    border-top-color: #fff;
    border-bottom-color:#fff ;
}
.li li a::after{
    border-left-color: #fff;
    border-right-color: #fff; 
}
.signback{
    background:linear-gradient( rgb(193, 150, 22),rgb(199, 58, 11));;
    
    border-radius: 6px;

}
.bg_10{
    background:linear-gradient(rgb(99, 162, 239),rgb(25, 69, 243))
    
}
.show header{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    
    z-index: 1000;
}
.text{
    position: absolute;
    top: 30%;
    left:0;
    width: 100%;
    text-align: center;
    
    z-index:10;
    color: white;
    line-height: 3.6em;
    height: 85%;
}
.text h3{
    font-size: 1.6em;
    
}
.text h2{
    font-size: 1.8em;
    text-shadow: 10px 10px 10px black;
}
.text h1{
    font-size: 2.5em;
}
.show video{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    opacity: 0.8;
    object-fit: cover;
}
.o_lay{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;

    background: #2b1a07f5;
    mix-blend-mode: overlay;
  
    padding: 28% 0px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    width: 40%;
    margin:25px auto;
    font-size: 20px;
}
.btn1{
    background-color: white;
    color: orangered;
    border: none;
    width: 180px;
    padding: 7px 3px;
    
    font-size: 16px;
    border-radius: 6px;

}
.btn2{
    background:linear-gradient( rgb(193, 150, 22),rgb(199, 58, 11));
    color: white;
    border: none;
    width: 180px;
    padding: 7px 13px;
    
    font-size: 16px;
    border-radius: 6px;

    
}
.btn3{
    
    border-radius: 6px;
    border: none;
    padding: -3px,0px;
}

/* Function */
.width{
    width: 75%;
    margin: 0px auto;
    
}
#function{
display: flex;
flex-direction: column;
}
.function_cnt{
    display: flex;
    justify-content: space-around;
}
.function_cnt h4{
    text-align: center;

}
.function_2cnt{
    display: flex;
    justify-content: space-around;
}

.f1{
    height: 200px;
    width: 30%;
    
}
.f1 p{
    margin-top: 10px;
    color: rgb(93, 93, 125);
}
.flex{
    display: flex;
    align-items: center;
}
.flex>img{
    margin-right: 3%;
}
.function_2{
   
    width: 100%;
    height: 380px;
    
    background-image: url('./image/machine.jpg');
    background-size: 100% 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#shadow{
    
    text-shadow: 0px -1px 6px black, -1px 2px 1px rgb(106, 17, 17), 1px 3px 2px black
}
.boxes{
    display: flex;
    justify-content: space-around;
   
    margin-top:70px;
    height: 320px;
    
   
}
.box{
    
    height: 180px;
    width: 28%;
    background-color: white;
    border-radius: 23px;
    color: black;
    padding: 10px 10px;
    


}
.box_pad{
   padding:5px 20px;
    
}
.borderbottom{
    border-bottom:2px solid orangered;
    color: orangered;
    font-size: 2em;
}
.fnt{
    font-size: 20px;
}
.fnt1{
    font-size: 15px;
    color: rgb(113, 129, 168);
}
.gg{
    text-align: left;

}
.HIW{

    
}

.container{
    width: 100%;
    height: 700px;
    position: absolute;
    margin-top: 80px;
    
}
.width1{
    width: 90%;
    margin:10px auto;
}
.boxex_container{
    display: flex;
    flex-direction: column;
}
.boxex3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxex3a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxex_3{
    width: 28%;
    height: 150px;
    
    margin-top: 33px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f1f4f7;
}
.boxex_head{
    color: rgb(255, 69, 0);
    font-size: 21px;
    font-weight: 500;

}
.boxex_para{
    font-size: 13px;
    color: rgb(71, 87, 112);
}
.eco_heading{
    width: 100%;
    text-align: center;
    height: 200px;
    
    color: white;
}

.conti{
   
    height: 900px;
    
}
.pad-2{
    margin-top: 20px;
    padding: 60px 128px;
    font-size: 25px;
    
}
.width3{
    width: 90%;
    margin:auto;
}
.metalimg{
    width: 100%;
    

    text-align: center;

}
.ftr{
    width: 100%;
   

}
.ftr_main{
    display: grid;
    grid-template-columns: 2.3fr 1fr 1fr 2.7fr;
}
.mt{
    margin-top: -59px;
}
.bd{
    
}
.col2{
    background:linear-gradient(black,rgb(51, 49, 49));
    margin-top: 120px;
}
.cl1{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 50px 40px;
    color: white;
}

.mar{
    margin-bottom: 10px;
}
.cl3{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px 20px;
    color:white;
    justify-content: space-between;
    font-size: 15px;
}
.shedbox{
   
    padding: 10px;
    width: 65%;
    height: 250px;

    margin-left: 20px;
    background:linear-gradient(#e25e2f,#cc445e);
    border-radius: 29px;
}
.special_box{
    color: white;
}
.btn4{
    border: none;
    background-color: white;
    width: 250px;
    padding: 8px;
    font-size: 16px;
    margin-top: 16px;
    border-radius: 10px;
}
.chatbox{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}
.to_chat{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    width: 250px;


}
.icon img{
    filter: invert(100);
    
}
.chat{
    border: 2px solid white;
    padding: 10px 17px;
    width: 140px;
    color: rgb(19, 6, 6);
    background-color: whitesmoke;
    border-radius: 23px;
    border: 1px dotted gray;
}
.icon{
    border-radius: 50%;
    padding: 8px 10px 0px 10px;
 
    
}
.iplinks{

}
.iplinks ul li a{
    text-decoration: none;
    color: white;
    
}
.special_box img{
    filter: invert(100);
}
.iplinks ul li{
    list-style: none;
    width: 10px;
    padding: 10px 10px;
    overflow-wrap: break-word;
    background-color: #e25e2f;
    border-radius: 7px 0px 0px 8px;
    margin: 2px 0px;
    
}
.text_centered{
    text-align: center;
}
.width11{
    width: 80%;
    margin:0px auto;
}
.aboutus{
    margin: 100px;
    
    border: 2px solid red;
}
.row_1{
    display: flex;
    justify-content: space-between;
    margin: 150px 0px ;
}
.imagetitle{
    width: 32%;
  
}
.imagetitle img{
    width: 100%;
    border-radius: 20px;
}
.image_para{
    width:60%;

}
.row-rev{
    display: flex;
    flex-direction: row-reverse;
    margin: 140px 0px;
}
.OurJourney img{
    width: 100%;
}






